.oxlintrc.json   @phoenixTW
.oxfmtrc.json    @phoenixTW
apps/api/        @phoenixTW
apps/web/        @phoenixTW
apps/space/      @phoenixTW
apps/admin/      @phoenixTW
apps/live/       @phoenixTW
deployments/     @phoenixTW
